<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title></title>
    <link href="http://cdn.staticfile.org/emoji/0.2.2/emoji.css" rel="stylesheet" type="text/css" />
    <script src="http://cdn.staticfile.org/emoji/0.2.2/emoji.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <style type="text/css">
    	html,body{
    		width: 100%;
    		margin: 0;
    		padding: 0;
    	}
      div,p,ul,li{padding: 0; margin: 0;}
      #app{
        width: 500px;
        margin: 0 auto;
      }
      .emoji-wrap{
        display: flex;
        flex-wrap: wrap;
        width: 300px;
        background: #f2f2f2;
      }
      .emoji-item{
        padding: 5px;
        cursor: pointer;
      }
    </style>

</head>
<body>
  <div id="app">
    <h3>消息:</h3>
    <section class="emoji-wrap">
      <p v-for="msg in msgs" v-html="msg"></p>
    </section>
    <h3>点击下面的表情发送:</h3>
    <section class="emoji-wrap">
      <p v-for="item in emojiList" @click="chooseEmoji(item.emoji)" v-html="item.emojiHtml" class="emoji-item"></p>
    </section>
  </div>
</body>
<script type="text/javascript">
var app = new Vue({
  el: '#app',
  data () {
    return {
      msgs: [],
      emojiArray: ['😠', '😩', '😲', '😞', '😵', '😰', '😒', '😍', '😤', '😜', '😝', '😋', '😘', '😚', '😷', '😳', '😃', '😅', '😆', '😁', '😂', '😊', '☺', '😄', '😢', '😭', '😨', '😣', '😡', '😌', '😖', '😔', '😱', '😪', '😏', '😓', '😥', '😫', '😉', '💔', '👍', '👏', '👌', '💪', '🌸'],
      emojiList: []
    }
  },
  created () {
    this.emojiList = this.emojiArray.map(emoji => {
      return {emoji, emojiHtml: jEmoji.unifiedToHTML(emoji)}
    })
  },
  methods: {
    chooseEmoji (emoji) {
      this.msgs.push(jEmoji.unifiedToHTML(emoji))
    }
  }
})
</script>
</html>
